<footer class="footer">

    <i class="fa-brands fa-duotone fa-youtube fa-2x icon" ></i>
    <i class="fa-brands fa-duotone fa-twitter fa-2x icon" ></i>
    <i class="fa-brands fa-duotone fa-linkedin fa-2x icon" ></i>
    <i class="fa-brands fa-duotone fa-facebook fa-2x icon" ></i>
    <i class="fa-brands fa-duotone fa-instagram fa-2x icon" ></i>
</footer>

</body>
</html>