<footer class="footer">
    <h2 class='heading'>Follow us on</h2>
    <br>
    <i class="fa-brands fa-light fa-youtube fa-2x icon" ></i>
    <i class="fa-brands fa-light fa-twitter fa-2x icon" ></i>
    <i class="fa-brands fa-light fa-linkedin fa-2x icon" ></i>
    <i class="fa-brands fa-light fa-facebook fa-2x icon" ></i>
    <i class="fa-brands fa-light fa-instagram fa-2x icon" ></i>
</footer>

</body>
</html>