<%-include('partials/header.ejs')%>

<section class="first">
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea dolores earum maxime et temporibus nisi quam animi quidem, laboriosam, qui sed delectus veniam esse similique numquam cumque? Ratione harum ipsa reiciendis quia. Doloremque vitae saepe dignissimos, consectetur necessitatibus eos ipsam. Perspiciatis animi, numquam qui velit inventore ratione facilis reprehenderit, itaque consequuntur, sint beatae aut. Sunt nulla aperiam voluptatem harum sit libero, quasi atque temporibus in obcaecati explicabo dignissimos ratione ea culpa quas minus nesciunt quis, ipsam voluptatum minima, officia magni. Excepturi earum ex necessitatibus repellendus eligendi in vero iste eaque pariatur, maxime quam illum? Saepe incidunt voluptatum eum similique deleniti.</p>
    </div>
</section>

<section class="second"> 
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tempora atque aliquam a culpa qui delectus at iste officia rem fugit sit enim nam est cum laudantium, accusantium eius veniam reprehenderit eveniet odio nobis. Praesentium dignissimos optio odio blanditiis atque similique, sapiente ullam quam fugiat culpa aspernatur eligendi! Consequuntur, deserunt!
        </p>
    </div>
</section>

<section class="first">
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae autem tenetur deleniti rerum impedit nostrum adipisci nihil tempore neque amet inventore enim sunt illo suscipit quo similique hic, repellendus maxime asperiores, dolores consequuntur expedita animi commodi. Beatae labore rerum velit.
        </p>
    </div>
</section>

<%-include('partials/footer.ejs')%>